/* Barra Superior*/
body{
    background: black;
    color: yellow;
    margin: 0;
}
.barraSup ul{
    margin: 0;
    background: black;
    display: flex;
    flex-flow: row wrap;   /*   flex-direction: row; flex-wrap: wrap; */
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    color: yellow;
    font-size: x-large;
}
ul li a{
    text-decoration: none;
    color: yellow;
}
.barraSup .boton{
    background-color: red;
    border: 1px solid;
    padding: 20px;
    text-align: center;
    border-radius: 15%;
    color: black;
    
}
.barraSup .boton:hover{
    animation-name: sacudir;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-duration: alternate;
    background: #6e1e0d;
    color:white
}

@keyframes sacudir{
    2% { transform: translate(0.5px, 2.5px) rotate(1.5deg); }
    4% { transform: translate(0.5px, -1.5px) rotate(0.5deg); }
    6% { transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
    8% { transform: translate(2.5px, -0.5px) rotate(0.5deg); }
    10% { transform: translate(2.5px, 1.5px) rotate(0.5deg); }
    12% { transform: translate(2.5px, -0.5px) rotate(0.5deg); }
    14% { transform: translate(-1.5px, -1.5px) rotate(-0.5deg); }
    16% { transform: translate(-0.5px, 0.5px) rotate(0.5deg); }
    18% { transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
    20% { transform: translate(2.5px, -1.5px) rotate(1.5deg); }
    22% { transform: translate(2.5px, -1.5px) rotate(0.5deg); }
    24% { transform: translate(0.5px, -1.5px) rotate(-0.5deg); }
    26% { transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
    28% { transform: translate(-1.5px, -0.5px) rotate(1.5deg); }
    30% { transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
    32% { transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
    34% { transform: translate(0.5px, -0.5px) rotate(0.5deg); }
    36% { transform: translate(-1.5px, 1.5px) rotate(1.5deg); }
    38% { transform: translate(2.5px, 1.5px) rotate(1.5deg); }
    40% { transform: translate(1.5px, -1.5px) rotate(0.5deg); }
    42% { transform: translate(1.5px, -1.5px) rotate(1.5deg); }
    44% { transform: translate(1.5px, 2.5px) rotate(1.5deg); }
    46% { transform: translate(1.5px, -1.5px) rotate(0.5deg); }
    48% { transform: translate(-0.5px, -1.5px) rotate(0.5deg); }
    50% { transform: translate(-1.5px, -1.5px) rotate(1.5deg); }
    52% { transform: translate(1.5px, -0.5px) rotate(1.5deg); }
    54% { transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
    56% { transform: translate(2.5px, 0.5px) rotate(0.5deg); }
    58% { transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
    60% { transform: translate(0.5px, 1.5px) rotate(-0.5deg); }
    62% { transform: translate(-0.5px, -1.5px) rotate(0.5deg); }
    64% { transform: translate(-0.5px, -1.5px) rotate(0.5deg); }
    66% { transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
    68% { transform: translate(0.5px, 1.5px) rotate(-0.5deg); }
    70% { transform: translate(0.5px, 2.5px) rotate(-0.5deg); }
    72% { transform: translate(2.5px, -1.5px) rotate(1.5deg); }
    74% { transform: translate(-1.5px, -0.5px) rotate(0.5deg); }
    76% { transform: translate(-1.5px, -1.5px) rotate(1.5deg); }
    78% { transform: translate(0.5px, 0.5px) rotate(1.5deg); }
    80% { transform: translate(0.5px, -0.5px) rotate(1.5deg); }
    82% { transform: translate(-0.5px, -1.5px) rotate(1.5deg); }
    84% { transform: translate(2.5px, -0.5px) rotate(1.5deg); }
    86% { transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
    88% { transform: translate(1.5px, 2.5px) rotate(-0.5deg); }
    90% { transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
    92% { transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
    94% { transform: translate(1.5px, -0.5px) rotate(0.5deg); }
    96% { transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
    98% { transform: translate(2.5px, 2.5px) rotate(0.5deg); }
    0%, 100% { transform: translate(0, 0) rotate(0); } 

}

.barraSup .logo img{
    position: relative;
    width: 150px; height: 75px;
    background: lightgray;
    border-radius: 10%;
    animation-name: caer;
    animation-duration: 2s;
    animation-iteration-count: initial;
    animation-direction: alternate;
}


@keyframes caer {
    from {
        bottom:100px;
    }
    to{
        bottom: 0px;
    }
}


/*  Portada index */
#portada{
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    height: 80vh;
    background-image: url(img/fondoPortada.jpg);  
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

}
#portada h1,p{
    color: yellow;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
#portada p{
 align-self: flex-end;
}
/* Pedido */

#grid{
    display: grid;
    grid-template-areas: 
    "promo pedido pedido"
    "promo delivery total"
    "promo delivery boton";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 80vh;
    text-align: center;
}
.imgPromo{
    grid-area: promo;
    color:white
}
.imgPromo img{
    width: 100%;
    
}
.listaPedido{
    grid-area: pedido;
    text-align-last:left ;
}
.listaPedido .opciones {
    margin-left: 20px;
    margin-top: 10px;
}
.opciones div{
    margin-top: 5px;
    margin-left: 10px;
}

.delivery{grid-area: delivery;}
.total{grid-area: total;}
.confirmar{grid-template-areas: boton;}
.imgPromo, .listaPedido, .delivery, .total, .confirmar{
    border: 2px solid yellow;
    color: yellow;

}

/* Menu */

.menu{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}
.cuadro:hover{
    transform: scale(1.2);
}
.cuadro{ 
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    background: rgb(142,70,70);
    background: linear-gradient(0deg, rgba(142,70,70,1) 26%, rgba(233,159,94,1) 75%, rgba(189,196,39,1) 94%); 
    width: 20%;
    margin:2%;
    height: 300px;
    border-radius: 5%;
    text-align: center;
}
.cuadro img{
    margin:  1px auto 10px auto;
    width: 180px;
    height: 150px;
    border-radius: 5%;
}
.cuadro h6{
    margin: 0;
    font-size: 20px;
}

/* Footer*/
footer{
    background: black;
    display: flex;
}
footer img{
    width: 10px; height: 10px;
}
